/*--
Main Heading font font-family: 'Raleway', sans-serif; 
https://fonts.google.com/specimen/Raleway?selection.family=Domine:wght@400;700|Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700|Raleway:wght@300;400;500;600;700&sidebar.open&preview.text=PATHS+TO+NETWORK&preview.text_type=custom

Paragraph Font Family: font-family: 'Julius Sans One', sans-serif;
font-family: 'Oxygen', sans-serif;
https://fonts.google.com/specimen/Oxygen?query=oxy&sidebar.open&selection.family=Julius+Sans+One|Oxygen

*/

*{
	box-sizing: border-box; 
	/* This makes the widths of elements more consistent
		Full details here https://css-tricks.com/box-sizing/ */
}

body{
	margin: 0px; /* Often browsers have a 5px margin by deafult*/
	font-family: sans-serif;
	background-color: #18191a;
}


h1{
	font-family: 'Domine', serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Raleway', sans-serif;
	color: #ebebeb;
	padding-top: 10px;
	padding-bottom: 5px;
}

section h1{
	font-family: 'Domine', serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Raleway', sans-serif;
	color: #ebebeb;
	font-size: 2.2em;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 5%;
}

section p {
	padding-left: 5%;
}

h2{
	font-family: 'Domine', serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Raleway', sans-serif;
	color: #ebebeb;
}

p {
	font-family: 'Julius Sans One', sans-serif;
	font-family: 'Oxygen', sans-serif;
	color: #ebebeb;
}


section{
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;

}

header{
	background-color: #687da1;
	color: white; /* more pale orange */
	padding-top: 30px;
	padding-bottom: 30px;
	width: 100%;
}

.title_cont {
	text-align: center;
	color: #ebebeb;
}

nav{
	width: 100%;
	height: 60px;
	background-color: #1c1d1f;
	display: inline-block;
	text-align: center;
}

nav a{
	color: #ebebeb;
	margin: 0px;
	line-height: 60px;
	margin-left: 1.5em;
	margin-right: 1.5em;
	text-decoration: none;
	text-align: center;
}

nav a:hover{
	 /* Hover styles to let people know they can click it */
	border-bottom: 2px solid #687da1;
	text-decoration: none;
}

.waterf_cont {
	display: grid;
}

/*makes image width 100% in relation to screensize changes*/
.img_fit {
	max-width: 100%;
	max-height: 100vh;
	margin: auto;
}

.intro_cont {
	background-color: #1c1d1f;
	width: auto;
	height: 250px;
	padding-top: 50px;
	padding-bottom: 10px;
}

.intro_cont section h2 {
	padding-left: 5%;
}

#one {
	padding-top: 50px;
}

#one .g-row {
	padding-top: 50px;
}



#two {
	padding-top: 100px;
}

#two .g-row {
	padding-top: 50px;
}

/*centering images in for manhole covers div*/
#two .g-row .g-30 img {
	height: 70%;
	width: 132%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}


#three {
	padding-top: 100px;
}

#three .g-row {
	padding-top: 50px;
}


#four {
	padding-top: 100px;
}

#four .g-row {
	padding-top: 50px;
}

/* Simple grid */
.g-row{
	width: 100%;
	overflow: hidden;
}

.g-row img{
	width: 100%; /*This makes all images in grids to be the size of their cell */
}

.g-50{
	width: 50%;
	float: left;
}

.g-30{
	width: 26%;
	display: flex;
}

.g-30 img {
	padding-top: 10px;
	padding-right: 20px;
}

.g-70{
	width: 100%;
	float: left;
}

.g-70 h2 {
	padding-left: 5%;
}

.padded{
	padding: 20px; /* I add this to cells to add a little padding*/
}
